@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;800&display=swap');

header {
    display: flex;
    position: fixed;
    width: 100%;
    background-color: white;
    padding: 1rem 10%;
    
    align-items: center;
    justify-content: space-between;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    z-index: 1;
    /* margin-bottom: 100px; */

    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
    
}

.NavBarUl {
    display: flex;
    list-style-type: none;
    gap: 3rem;
    text-transform: capitalize;
}

header ul li {
    cursor: pointer;
}

.logoImg {
    height: 50px;
    border-radius: 50%;
}

.mobileBtn {
    display: none;
    cursor: pointer;
    z-index: 10;
    color: black;
}

@media(max-width: 990px) {
    .mobileBtn {
        display: block;
    }
    .NavBarUl {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        position: fixed;
        gap: 5rem;
        left: -100%;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: calc(100vh - 4rem);
        /* background: rgb(142,140,140);
        background: linear-gradient(231deg, rgba(142,140,140,1) 0%, rgba(54,35,35,1) 100%); */
        backdrop-filter: blur(50px);
        color: black;
        text-transform: capitalize;
        z-index: 10;
        transition: left 0.5s;
        font-size: 30px;
        
    }
    .active {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        position: fixed;
        gap: 3rem;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: calc(100vh - 4rem);
        backdrop-filter: blur(40px);
        color: black;
        text-transform: capitalize;
        z-index: 10;
        transition: left 0.5s;
        font-size: 30px;
        overflow-y: scroll;
    }

    .active li {
        text-transform: capitalize;
        cursor: pointer;
        opacity: 100%;
        transition-duration: 300ms;
    }
    
    .active ul li:hover {
        scale: 120%;
        color:white;
        /* border-bottom: 2px solid white; */
    } 

    .active li::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: rgb(255, 255, 255);
        
        transition: width .3s;
    }
}